@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --very-dark-blue: hsl(212, 21%, 14%);
}

h1,
h2 {
  font-family: 'Fraunces', serif;
}


h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--very-dark-blue);
  margin: 0;
  margin-top: 1.25rem;
}

h2 {
  font-size: 2rem;
  color: var(--dark-cyan);
  line-height: 2rem;
}

h3,
h4,
p {
  color: var(--dark-grayish-blue);
}

h3 {
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 5px;
  line-height: 15px;
  margin: 0;
  color: var(--dark-grayish-blue);
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 38%, 92%);
}

main {
  display: flex;
  background-color: hsl(0, 0%, 100%);
}

.card {
  width: 600px;
  height: 450px;
  border-radius: 10px;
  display: flex;
}

.image-container {
  background-image: url('./images/image-product-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  border-radius: 10px 0 0 10px;
}

.desc-container {
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
  color: var(--dark-grayish-blue);
  font-size: .875rem;
}

.description {
  font-size: .875rem;
  margin: 1.5rem 0;
  font-weight: 500;
  line-height: 23px;
}

.main-price,
.old-price {
  margin: 0
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 29px;
}

.old-price {
  padding-left: 19px;
  font-size: 13px;
  text-decoration-line: line-through;
  font-style: normal;
  font-weight: 500;
}

.btn {
  background-color: var(--dark-cyan);
  width: 100%;
  border: transparent;
  border-radius: .5rem;
  height: 3rem;
  margin-top: 1.875rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11.6px;
}

.btn span {
  font-family: 'Montserrat', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: .875rem;
  font-weight: 700;
}

.btn img {
  width: 16px;
  height: 16px;
}

button:hover {
  cursor: pointer;
  background-color: hsl(157, 43%, 18%);
}

.attribution {
  position: absolute;
  bottom: 1rem;
  font-size: 11px;
  text-align: center;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    margin: 1.5rem 1rem;
    align-items: flex-start;
    height: auto;
  }

  .image-container {
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 0 0;

  }

  .desc-container {
    width: 100%;
    padding: 1.5rem;

  }

  h1 {
    margin-top: .75rem;
  }

  .description {
    margin: 1rem 0 1.5rem;

  }

  .price {
    margin-top: 1.5rem;

  }

  .btn {
    margin-top: 1.25rem;
  }
  .image-container {
    background-image: url('./images/image-product-mobile.jpg');

  }
}